/*
 *jQuery FeatherSlider v1.0
 *http://www.radialglo.com
 *
 * Copyright 2012, Anthony Su
 * Free to use and abuse under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 *
 *
 */

div#fthr-overlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        height: 100%;
        background: black;
        filter:alpha(opacity=30); /* For IE8 and earlier */
        opacity: 0.3;
        color: black;
        z-index: 1050;
        vertical-align: middle;
        display: none;
}

div#fthrGallery {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: 0 auto;
        overflow: visible !important;
        border-radius: 4px;
        background: white url(ajax-loader.gif) center no-repeat;
        /*http://ajaxload.info/*/
        box-shadow: 0 6px 12px rgba(0, 0, 0, .25), 0 12px 12px -12px rgba(0,0,0,.45) !important;
        z-index: 1100;
        display: none;
}

#fthr-button {
        cursor: pointer;
}


#fthr-button-left {
        left: 0;
}

#fthr-button-right {
        right: 0;
}

#fthr-button-left,
#fthr-button-right {
        position: absolute;
        top: 40%;
        color:white;
        padding: .2em;
        border-radius: 4px;
        margin: .4em auto;
        cursor: pointer;
        z-index: 1115;
        display: none;

        font-size: 120px;
        text-shadow: 0 1px 3px #111;
        opacity: 0.5;
        -webkit-transition: all 0.03s ease-in-out;
        -moz-transition: all 0.03s ease-in-out;
        -ms-transition: all 0.03s ease-in-out;
        -o-transition: all 0.03s ease-in-out;
        transition: all 0.03s ease-in-out;

}


#fthr-button-left:hover,
#fthr-button-right:hover {

        opacity: 1;
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);

}

div#fthrGallery:hover span#fthr-button-left,
div#fthrGallery:hover span#fthr-button-right {
        display: inline;
}

span#fthr-close {
        position: absolute;
        top: -.5em;
        right: -.5em;
        z-index: 1200;
        color: black;
        font-weight: bolder;
        background: white;
        box-shadow: 0 0 10px -2px #111;
        border-radius: 50%;
        width: 1.2em;
        height: 1.2em;
        text-align: center;
        cursor: pointer;
}

span#fthr-caption {
        position: absolute;
        bottom: 19px;
        color: white;
        background: black;
        filter:alpha(opacity=80); /* For IE8 and earlier */
        opacity: 0.8;
        box-shadow: 0 0 10px -1px #111;
        display: block;
        margin: 0 auto;
        z-index: 1101;
        
}
